body {
	font-family: 'Museo Sans', serif;
	font-size: 15px;
	letter-spacing: 0.12em;
	/*width: 100%;*/
	/*max-width: 100%;*/
	/*overflow-x:hidden;*/
	/*margin: 0 auto;*/
}

body, h1, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: Natasha, serif;
}

div, p, input, button, form, li, section {
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
	width: 100%;
}

#wrapper {
	background: url(../img/header-bg.png) no-repeat center top fixed;
	height: 846px;
	/*width: 1920px;*/
	/*position: relative;*/
}

#first, #about-me, #skills-outer, #works-outer, #foo {
	width: 980px;
	/*overflow-x: hidden;*/
	margin: 0 auto;
}

#first, #about-me, #skills-outer, #works-outer, .inner, .base {
	padding-left: 20px;
	padding-right: 20px;
}

#first {
	
	height: inherit;
	/*background: url(../img/header-bg.png) no-repeat center top fixed;*/
}

.header {
	padding-top: 55px;
	margin-bottom: 300px;
	height: 40px;
}

.logo, .main-link, .main-menu__item {
	display: block;
}

.logo {
	float: left;
	margin-right: 160px;
	line-height: 40px;
}

.main-link {
	float: right;
	line-height: 40px;
}

.main-menu {
/*	display: flex;
	justify-content: space-between;
    align-items:center;
    list-style-type: none;*/
}

.main-menu a, .main-link, .wrap__link, .logo {
	color: white;
	text-decoration: none;
}

.main-menu__item {
	height: 40px;
	line-height: 40px;
	margin-right: 50px;
	float: left;
}

.main-menu__item a {
	padding: 0px 10px 0px 10px;
}

.main-menu__item a:hover {
	display: inline-block;
	text-align: center;
    outline: 2px dashed rgba(255,255,255,0.8); /* Пунктирная рамка */
    outline-offset: -5px;
	height: 35px;
	border-radius: 5px;
	line-height: 35px;
	box-sizing: border-box;
}

.main-menu__logo {
	font-weight: 100;
	font-size: 17px;
}

.main-menu__item {
	font-weight: 900;
	text-transform: uppercase;
}

.main-menu__link, .wrap__link {
	border-bottom: 1px solid #6a6c67;
}

.tagline__title, .tagline__subtitle {
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.tagline__title {
	font-size: 49px;
}

.tagline__subtitle {
	padding-top: 10px;
	font-size: 29px;
}

.tagline__img {
	margin: 250px auto 0px;

}

.tagline__img, .link, .man__subtext, .man__icon {
	display: block;
}

h2 {
	font-size: 37px;
}

#about-me, .bg {
	padding-top: 80px;
}

#about-me h3 {
	font-size: 22px;
	color: #6d6f69;
	margin-bottom: 30px;
}

.bg, .item, .connection {
	width: 460px;
	float: left;
}

.item {
	margin-right: 38px;
	margin-left: 17px;
}

.item:last-child {
	margin-right: 0px;
}

.item__text {
	margin-top: 25px;
	font-size: 13px;
}

.item, .icon  {
	width: 103px;
	text-align: center;
}

.icon {
	background: url(../img/rhomb.png) no-repeat;
	height: 103px;
}

.icon__text {
	line-height: 103px;
}

.merits {
	margin-left: 20px;
	margin-top: 80px;
}

.connection, .social-links, .man, .point__text, .wrap__link, .rights {
	display: inline-block;
}

.connection {
	margin-top: 50px;
}

.social-links {
	float: left;
	margin-right: 20px;
}

.link {
	color: #204d15;
	/*text-decoration: none;*/
	font-size: 13px;
	/*border-bottom: 1px solid #becbbb;*/
	padding-bottom: 5px;
	margin-top: 10px;
}

.man {
	padding-top: 15px;
}

.man__subtext, .man__icon, .point, .circle {
	float: left;
}

.man__subtext {
	line-height: 64px;
	font-size: 13px;
	margin-left: 20px;
}

#skills-outer, #works-outer {
	padding-top: 100px;
}

#skills-outer h2, #works-outer h2 {
	padding-bottom: 62px;
}

.circle {
	background: url(../img/circle.png) no-repeat;
	width: 61px;
	height: 61px;
}

.point {
	margin-right: 80px;
}

.point:last-child {
	margin-right: 0px;
}

.circle__stats {
	line-height: 61px;
	color: #204d15;
	text-align: center;
	font-size: 13px;
}

.point__text {
	padding-left: 25px;
	line-height: 61px;
	font-weight: 900;
	font-size: 13px;
	color: #4b4c47;
}

.picture {
	float: left;
	margin-right: 20px;
	position: relative;
}

.picture:last-child {
	margin-right: 0px;
}

.picture:hover .overlay {
	opacity: 1;
}

.overlay {
	background: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	height: 99%;
	left: 0px;
	top: 0px;
	text-align: center;
	padding-top: 133px;
	opacity: 0;
	transition: all ease 1s;
}

.wrap {
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

.wrap__title {
	font-family: Natasha, serif;
	color: white;
	font-weight: 900;
	font-size: 17px;
}

.wrap__link {
	font-size: 13px;
	font-weight: 300;
	margin-top: 10px;
}

#foo {
	height: 150px;
	margin-top: 80px;
	border-top: 1px solid rgba(0,0,0,0.3);
}

.rights {
	color: rgba(0,0,0,0.5);
	font-size: 12px;
	font-weight: 900;
	line-height: 150px;
}